body {
  background-color:#F4F4F4;
}

#hook{
    height:5.7em;
    padding-bottom:3em;
    border-top:3px solid #bab0ac;
    border-bottom:3px solid #bab0ac;
}

#hook p{
    font:1.6em sans;
    text-align:justify;
}

#hook img {
    height: 100%;
    float: left;
    padding:15px;
    padding-right:20px;
}

a {
    text-decoration:none;
    color:#4e79ac;
}

.download a, .doc a{
    color:white;
}
.download a:hover, .doc a:hover{
    color:white;
    text-decoration: underline
}

.doc{
    background-color: #4e79ac;
    border: none;
    color: white;
    width:50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin:auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#address{
    white-space:pre;
    padding: 10px;
    border: 3px solid #bab0ac;
    display:inline-block;
    margin:0px;
}

.download{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width:25%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1em;
    padding-bottom: 1em;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:hover {color:DarkCyan}

.screen{
    padding:1em;
    margin:1em;

    background-color:#F4F4F4;
    width:30%;
    float:right;
}
.screen img{
    width: 100%;
}

main {
  margin:auto;
  padding:0;
  min-width:34rem;
  max-width:50rem;
  padding:0 5.5rem 0 5.5rem;
  font : 0.875em/1.5em Verdana, Helvetica, Arial, sans-serif;
  text-align:justify;
  color:#141414;
  background-color:#FBFBFB;
  border-color:#CCCCCC;
  border-style:solid;
  border-width:1px 1px;
  border-radius:5px;
}



#Image {
  text-align:center;
}

#Description {
  text-align:center;
  font-weight:bold;
  margin-top:0.9em;
  margin-bottom:0.5em;
}

#download{
    margin-top:1em;
    clear:both;
    text-align:center;
    margin:auto;
}

#Version {
  color:#e15159;
  font-weight:bold;
}

main h1 {
    margin-top:1.2em;
    color:#4e79ac;
    text-decoration:underline;
}

main h2 {
  margin-top:1em;
  margin-bottom:0.6em;
  color:#4e79ac;
  clear:both;
  font-variant:small-caps;

}

main li {
    margin:0.5em;
    list-style:square
}

main #Update {
  padding-bottom:1rem;
  text-align:right;
  font-size:small;
  font-style:oblique;
}
header h1{
    text-align:center;
    margin-top:1.5em;
    margin-bottom:0.9em;
    color:#4e79ac;
    font-size:4em;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none; 
}
